@import url(vars.css);

:root{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: var(--background-color);
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    text-align: center;
}

.homepage{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tab{
    display: flex;
    max-width: 400px;
    justify-content: center;
    margin-left: 100px; margin-right: 80px; margin-bottom: 50px; padding: 15px;
    color: darkgreen;
    text-decoration: none;
    border: 5px solid darkgreen;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    transition: background-color 1s, color 0.5s;
    transition: transform .2s;
}

.tab:hover{
    /*background-color: white;*/
    background-color: color-mix(in srgb, darkgreen, rgb(225, 242, 187) 50%);
    color: white;
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25); 
}

.portrait{
    margin: 20px;
    border: 20px solid darkgreen;
}

.portrait picture {
    display: block; 
    max-width: 100%;
    height: auto; 
    border: none;
}

@media screen and (max-width: 768px) {
    .homepage {
        flex-direction: column; 
    }
    .tab {
        width: 100%; 
        margin: 10px auto; 
    }
    .portrait {
        width: fit-content; 
        margin: 10px auto; 
    }
}

@media screen and (max-width: 500px) {
    .tab {
        width: 80%;
        margin: 10px 0;
    }
    .portrait {
        width: fit-content;
        margin: 0 auto;
        border: none;

    }
}
