:root {
	--background-color : rgb(225, 242, 187);
	--text-color :       black;
	--heading-color :    #1d6723;
	--heading-size :     2em;
	--subheading-size :  1.5em;
	--body-size :        1.25em;
    --spacing : 1.5
}